name: TruffleHog Secret Scan

on:
  push:
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: TruffleHog Scan
        uses: trufflesecurity/trufflehog@main
        with:
          path: .

